html {
  scroll-behavior: smooth; /* scroll smoothly on inner links*/
}

h1,
h2 {
  font-size: 4em;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin-top: 0.3em;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

p {
  text-justify: inter-word;
  font-size: larger;
}

/* styles for introductions at the top*/
.introduction {
  padding-top: 5em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background-color: blueviolet;
  color: white;
  padding-inline: 20px;
}

.introduction p {
  max-width: 75ch;
}

table {
  border-collapse: collapse;
}

/* styles for rows*/
tbody tr {
  cursor: pointer; /* Makes the cursor a pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Table header style */
th {
  background-color: #f4a261; /* Light orange */
  border: 1px solid #f4a261;
  color: white;
  padding: 10px;
  text-align: left;
}

/* Table cell style */
td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Alternate row background */
tr:nth-child(even) {
  background-color: #b21a6e;
}

/* Row hover effect */
tr:hover {
  background-color: #f7d1a9;
}

/* container for our gallery content */
.animals {
  background-color: orangered;
  padding: 35px 20px;
}

.animals p {
  text-align: justify;
}

.grid-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2em;
}

.grid-item {
  border: 3px solid burlywood;
  border-radius: 25px;
  padding: 2.5em;
  max-width: 45em;
}

.grid-item .animal-image {
  margin-top: 1em;
  display: block;
  margin-inline: auto;
  width: 68%;
  border-radius: 25px;
}
