html {
  scroll-behavior: smooth; /* scroll smoothly on inner links*/
}


.grid-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
}

/* styles for introductions at the top*/
.introduction {
  padding-top: 5em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  color: white; /* text color*/
}

/* container for our gallery content */
.animals {
  background-color: orangered;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

/* styles for rows*/
tbody tr {
  cursor: pointer; /* Makes the cursor a pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Table header style */
th {
  background-color: lightsalmon; /* Light orange */
  border: 1px solid lightsalmon;
  color: white;
  padding: 10px;
  text-align: left;
}

/* Table cell style */
td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Alternate row background */
tr:nth-child(even) {
  background-color: #b21a6e; 
}

/* Row hover effect */
tr:hover {
  background-color: #f7d1a9;
}



/* Add some space around the table */
.table-container {
  padding: 20px;
  display: flex;
}

.grid-item {
  flex-grow: 1; 
  border-style: solid;
  border-radius: 25px;
  border-color: burlywood;
  margin: 0.5em;
  max-width: 45em;
}

.grid-item .animal-image {
  margin-top: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 68%;
  border-radius: 25px;

}
h3{
  font-size: 4em;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}

h1{
  margin-top: 0.3em;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  font-family: "Comic Sans MS", cursive, sans-serif;

}

h2{
  margin: 0;
}

p1{
  text-align:justify;
  text-justify:inter-word;
  display: block;
  font-size: larger;
  text-emphasis: none;
  margin: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

p2{
  text-align:justify;
  text-justify:inter-word;
  display: block;
  font-size: larger;
  text-emphasis: none;
  margin: clamp(2em, 10%, 12em);
  margin-bottom: 1em;
  margin-top: 0.2em;
}