.grid-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100vw;
}

body {
  background-color: aqua;
  height: 100vh;
}

.background {
  padding-top: 5em;
}

.grid-item {
  flex-grow: 1; 
  border-style: solid;
  border-color: burlywood;
  margin: 0.5em;
  max-width: 10em;
}

.grid-item .animal-image {
  width: 80%;
}