section {
  padding: 1em;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1.5em 2.15em;
}

input,
textarea {
  border: 1px solid gray;
  outline: none;
  border-radius: 3px;
  min-height: 3em;
  min-width: 25em;
  padding: 0.5em 1em;
  background-color: aliceblue;
}

label {
  font-size: 0.85rem;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  place-content: center;
  gap: 5rem;
  min-height: 100vh;
  padding: 2rem;
  background-color: blueviolet;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1700px) {
  iframe {
    width: 600px;
    height: 450px;
  }
}

@media (max-width: 1300px) {
  iframe {
    width: 350px;
    height: 300px;
  }
}

@media (max-width: 1700px) {
  embed {
    width: 500px;
    height: 480px;
  }
}

@media (max-width: 1300px) {
  embed {
    width: 350px;
    height: 340px;
  }
}

@media (max-width: 1700px) {
  video {
    width: 640px;
    height: 400px;
  }
}

@media (max-width: 1300px) {
  video {
    width: 350px;
    height: 200px;
  }
}


@media (max-width: 1700px) {
  .container {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    padding-block: 7rem;
    min-height: 100vh;
  }
}

@media (max-width: 1300px) {
  .container {
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
