.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: grid;
  place-content: center;
}

.hero-content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 70ch;
}

.hero-content h1 {
  font-size: 5rem;
}

.hero-content p {
  font-size: 1.25rem;
  line-height: 1.4;
}

.arrow {
  display: inline-block;
  transition: transform 100ms ease-in-out;
}

.btn:hover .arrow {
  transform: translateX(4px);
}

.media-container {
  margin-top: 100vh;
  width: 100vw;
  background-color: bisque;
  position: relative;
}
