.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: grid;
  place-content: center;
}

.hero-text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.hero-text .btn {
  font-size: 1rem;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 1em 2em;
  background-color: rgb(221, 221, 221);
  text-align: center;
  cursor: pointer;
  border-radius: 1em;
  transition: background-color 150ms ease-in;
}

.hero-text .btn:hover {
  background-color: rgba(221, 221, 221, 0.8);
}
